@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar styles */

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-top: 40px;
}

.name {
    font-size: 28px;
    font-weight: 800;
    margin-left: 60px;
}

.resume-button {
    padding: 18px 35px;
    border: 1px solid rgb(13, 19, 33);
    background: transparent;
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    margin-right: 80px;
}

/* contract section styles */

.contract {
    background-image: url(../assets/Hero-bg.png);
    height: 652px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 45px;
    background-repeat: no-repeat;
    background-size: cover;
}

.con-container {
    height: 581px;
    width: 998px;
    margin: 26px 221px 45px 221px;
}

.img-1 {
    height: 240px;
    width: 240px;
}

.contract-title {
    color: rgb(13, 19, 33);
    font-size: 55px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
}

.contract-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 24px;
}

.contract-btn {
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
}

/* details section styles */

.details {
    width: 1140px;
    height: 1393px;
    margin: 72px auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.details-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.content-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 15px;
    opacity: 0.7;
}

.details-1 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin: 32px 0;

}

.details-1-title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.details-1-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-top: 16px;
}

.details-1-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 32px;
    padding: 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;

}

.top {
    margin-top: 10px;
}

/* idol section styles */

.idol {
    width: 1140px;
    height: 775px;
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.idol-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.idol-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-right: 144px;
    margin-right: 144px;
    margin-top: 24px;
    opacity: 0.7;
}

.video {
    width: 1140px;
    height: 614px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 48px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;

}

.video-1 {
    border-radius: 16px;
}

/* target section styles */

.target {
    width: 1140px;
    height: 460px;
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48;
    padding: 0px;
}

.target-content {
    text-align: center;
}

.feature-title-1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}

.feature-description-1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 24px;
}

.features {
    margin-top: 48px;
    display: flex;
}

.feature {
    width: 364px;
    height: 299px;
    padding: 40px;
    border-radius: 16px;
}

.bg-for-1 {
    background: rgba(255, 76, 30, 0.05);
    margin-right: 24px;
}

.bg-for-2 {
    background: rgba(0, 76, 232, 0.05);
    margin-right: 24px;
}

.bg-for-3 {
    background: rgba(255, 223, 0, 0.05);
}

.feature-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    margin-top: 18px;
}

.feature-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 8px;
}

.feature-link {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-decoration-line: underline;
    margin-top: 8px;
}

/* next target styles */

.next-target {
    width: 1140px;
    height: 866px;
    margin: 111px auto;
}

.nt-content {
    text-align: center;
}

.nt-title-1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}

.nt-description-1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-top: 24px;
    opacity: 0.7;
}

.nt-features {
    margin-top: 48px;
}

.nt-feature {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    padding: 40px;
    margin-bottom: 24px;
}

.nt-feature-1 {
    margin-left: 24px;
}

.nt-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
}

.nt-description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin-top: 8px;
    opacity: 0.7;
}

.nt-link {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    margin-top: 24px;
    text-decoration-line: underline;
}

/* support section styles */

.support {
    width: 1140px;
    height: 313px;
    margin: 1px auto;
    background-image: url(../assets/handshake.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    padding: 64px 48px;
    background-position: center;
}

.support-title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    margin-top: 0;
}

.support-description {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 16px;
}

.s-lebel {
    margin-top: 24px;
}

.s-input {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    gap: 10;
    padding: 19px 20px 19px 0px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

.btn-secondary {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 57px;
    gap: 10;
    padding: 17px 20px 17px 20px;
    margin-left: 16px;
    border: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.footer {
    height: 100px;
    width: 100%;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
}

.f-content {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.mr{
    margin-right: 18px;
}